<div class="container  mt-3">
    
    <br>
    <div class="container  mt-3 col-sm-10 p-2">
        
    <h3 style="text-align: center;">Book List</h3>
    <br>
    
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">id </th>
                    <th>Name </th>
                    <th>Author </th>
                    <th>Price </th>
                    <th>Quantity </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
               
            </thead>
            <tbody>
                <tr *ngFor="let b of books;let i=index">
                 <td>{{b.id}}</td>
                 <td>{{b.bookName}}</td>
                 <td>{{b.bookAuthor}}</td>
                 <td>{{b.bookPrice}}</td>
                 <td>{{b.bookQt}}</td>
                 <td><button class="btn btn-sm btn-success" (click)="edit(b.id)">Edit</button></td>
                 <td><button class="btn  btn-sm btn-danger" (click)="deletebook(b.id,i)">Delete</button></td>
           
                </tr>
            </tbody>
            
        </table>
    </div>
    


    
</div>